<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <% const name = 'Martin' %>
  <%- include('partials/nav') %>

  <header>
    <h1><%= name %> is using EJS</h1>
  </header>
  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam, nemo doloremque commodi temporibus quae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam, nemo doloremque commodi temporibus quae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam, nemo doloremque commodi temporibus quae?</p>

    <ul>
      <% students.forEach(student => { %>
        <li><%= student.name %> got a <%= student.note %></li>
      <% }) %>
    </ul>

  </main>
  <%- include('partials/footer') %>
  
</body>
</html>