<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App 921</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <form action="/" method="post">
      <input type="text" name="city" id="city" placeholder="Enter a city" required>
      <% if (error != null){ %>
        <p class="error"><%= error %></p>
      <% } %>  
      <input type="submit" value="Submit">
    </form>
    
    <% if (data != null){ %>
      <p class="plain top">It is:</p>
      <div class="display"><%= Math.round(data.temp) %>°C</div>
      <p class="plain bottom">in <%= data.city %>, <%= data.country %> <%= data.flag%></p>
      <p class="feels">Feels like <%= Math.round(data.feels) %>°C</p>
      <img src="http://openweathermap.org/img/wn/<%= data.icon %>@2x.png" alt="<%= data.description %>">
      <p class="description"><%= data.description %></p>
    <% } %>

    



  </div>
</body>
</html>